@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  --primary: #0A3D7C;
  --second: #C1272D;
  --third: #4a527a;
}

body{
    margin: 0px;  
}